[
  {
    "username": "admin",
    "email": "admin@your.site",
    "password": "am2jf70TPNZsSan",
    "role": "admin",
    "global": true
  },
  {
    "username": "ingestor",
    "email": "scicatingestor@your.site",
    "password": "aperson",
    "role": "ingestor",
    "global": true
  },
  {
    "username": "archiveManager",
    "email": "scicatarchivemanager@your.site",
    "password": "aperson",
    "role": "archivemanager",
    "global": true
  },
  {
    "username": "proposalIngestor",
    "email": "scicatproposalingestor@your.site",
    "password": "aperson",
    "role": "proposalingestor",
    "global": true
  }
]